body{
    margin:0;
    background:#ececec;
    font-family:Arial;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

.header h1{
    margin:0;
    font-size:42px;
}

.time{
    font-size:32px;
    font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#f3c74b;
    font-size:34px;
    padding:15px;
    border:3px solid black;
}

td{
    text-align:center;
    font-size:64px;
    font-weight:bold;
    padding:20px;
    border:3px solid black;
    background:white;
}

td:first-child{
    font-size:34px;
    font-weight:normal;
}

.footer{
    text-align:center;
    font-size:38px;
    font-style:italic;
    margin-top:20px;
    font-weight:bold;
}
